---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="a brief description about me and the blog"
  pubDate={new Date("September 11 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p class="mb-6">
    Ever seen a front-end wizard? Well, you're looking at one! With a wave of my
    coding wand, I turn mere designs into lively, interactive web wonders. 🪄✨
    I'm also a UX/UI enthusiast, always on a quest to cook up some eye-candy
    designs that users can't resist. And every now and then, I take a sneak peek
    into the backend's magical world – sometimes getting lost, but always
    finding my way back with a sprinkle of logic and a pinch of charm!
  </p>

  <h2 class="text-2xl font-bold mb-4">About the Blog</h2>
  <p>
    Welcome to my digital potion lab! 🧪✨ Here, I concoct blogs about
    intriguing topics that once made me scratch my head (or, you know, tap my
    wizard's hat). By jotting them down, I don't just untangle my own
    confusions, but also hope to create a spellbook for fellow web-wizards
    finding their feet. Oh, and did I mention? This very blog is crafted using
    Astro – because why not learn a new spell while showing off the old ones?
  </p>
</Layout>
